/* CSS for adding content example */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);

body { 
    font-family: "Courier New", Courier, monospace;
    background: url("../images/constructive-backdrop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    margin-top: 50px;

}

h1, h3, p {
    float: left;
    clear: left;
    width: 320px;
    background-color: #fff;
    color: #5a514c;
    text-align: center;
    border: 4px double black;
}
    


h1 {
    margin: 50px 0 0 50px;
    height: 175px;
    background-image: url("../images/constructive-logo.gif");
    background-repeat: no-repeat;
    text-indent: -9999px;
    border: 4px double black;
}
    

h3 {
    margin: 0 0 0 50px;
    padding: 25px 0 0 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.8em;
    font-style: italic;
    font-weight: 800;
    line-height: 0.80em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-left: 1px solid #bcbdc0;
    border-right: 1px solid #bcbdc0;}

p {
    margin: 0 0 0 50px;
    padding: 30px 0 25px 0;
    font-weight: bold;
    text-align: center;
    border-right: 1px solid #bcbdc0;
    border-bottom: 1px solid #bcbdc0;
    border-left: 1px solid #bcbdc0;}p + script + h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbdc0;}

p + script + h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #bcbdc0;}
    #field {
        background: url(https://js.cx/drag-heroes/field.png);
        width: 800px;
        height: 600px;
        float: left;
      }
      
      /* герои и мяч (переносимые элементы) */
      
      .hero {
        background: url(https://js.cx/drag-heroes/heroes.png);
        width: 130px;
        height: 128px;
        float: left;
      }
      
      #hero1 {
        background-position: 0 0;
      }
      
      #hero2 {
        background-position: 0 -128px;
      }
      
      #hero3 {
        background-position: -120px 0;
      }
      
      #hero4 {
        background-position: -125px -128px;
      }
      
      #hero5 {
        background-position: -248px -128px;
      }
      
      #hero6 {
        background-position: -244px 0;
      }
      
      .draggable {
        cursor: pointer;
      }



/* Border under box when you move script in the last example


/* Fix for full-screen background image: Chrome on Android */
